In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

listは内部の数字の直前までの数を順に並べる

In [4]:
name='Yabuki'

In [5]:
len(name)

6

In [7]:
name.upper()

'YABUKI'

upper()は文字列にしか使えない
len()は数字でも他のものにも使える
特定のデータ専用の機能をメソッドという

In [8]:
address='Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [10]:
address.split('o')

['T', 'ky', ',Japan']

oで区切って下さい

In [11]:
address.index('T')

0

In [12]:
address.index('p')

8

Tはどこにあるか
pは何文字目にあるかを調べる

In [13]:
address.index('o')

1

何文字目にあるかは左から優先する

In [18]:
address.upper()

'TOKYO,JAPAN'

upper()は大文字にしてくれる

In [19]:
address.lower()

'tokyo,japan'

In [20]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [21]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 5)
result = date_b - date_a
print(result)

370 days, 0:00:00

In [22]:
date_a.year

2008

データにアクセスするだけ　()なし：属性
name.upper()など、()のついたものは何らかの処理をする　()あり：メソッド

In [27]:
from datetime import *
date_a = date(1996, 6, 15)
date_b = date.today()
result = date_b - date_a
print(result)

7641 days, 0:00:00

In [31]:
date_b.weekday()

2

月　火　水　木　金　土　日
０　１　２　３　４　５　６

In [33]:
date_c = date(2000,5,5)

日付として扱い易い