In [1]:
a=[1,2,3,4,5]

In [3]:
合計/データ数

NameError: name '合計' is not defined

In [4]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

sを0とする
sに1を足したものをsと名付けなおす

In [5]:
a=[1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

In [6]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

for: aの中の各要素をpと呼び、
　　 pをprintする

In [8]:
a=[1,2,3,4,5]

for x in a:
    print('hello')
    print('world')

hello
world
hello
world
hello
world
hello
world
hello
world

In [10]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
 print(val)

5349
5478
5344
4644
4968
6259

printを使用する際は字下げをすることで有効範囲を指定しているため、字下げは行う

In [12]:
s=0

for x in a:
    s=s+x
    
s/5

3.0

In [ ]:
s=0

for x in a:
    s=s+x
    
s/len(a)

コンピュータに平均の出し方を教えた

In [14]:
avg_tohoku = 0.0
for val in list_tohoku:
 avg_tohoku += val
avg_tohoku /= len(list_tohoku) 
print(avg_tohoku)

5340.333333333333

In [16]:
(3148, 2991, 2966, 2457)/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [17]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s += x
    
s/len(list_shikoku)

2890.5

In [18]:
from statistics import*

In [19]:
mean(list_shikoku)

2890.5

In [20]:
mean([1,2,3,4,5])

3

In [24]:
dic={'A':100,'B':20,'C':3000}

In [22]:
dic['A']

100

In [25]:
for key in dic:
    print(key)

A
B
C

In [26]:
for x in dic:
    print(x)

A
B
C

In [28]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
 print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [29]:
for key in dict_tohoku:
 print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [34]:
#問99
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均
2.{'A':10,'B':100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [36]:
#1
s=0
a=[5,4,3,2]

for x in a:
    s += x
    
s/len(a)

3.5

In [37]:
mean(a)

3.5

In [43]:
#2
a = ['A':10,'B':100,'C':1000]
s=0

for x in a:
    s += a[x]
    
s/len(a)

SyntaxError: invalid syntax (<ipython-input-43-2e5f3e1da179>, line 2)

In [45]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
mean(a.values())

AttributeError: 'list' object has no attribute 'values'